<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/pantalonetas.css">
    
</head>
<body>
    <header class="header">
        <a href="/index.html">Producto 1</a>
        <a href="/views/abrigos.html">abrigos</a>
        <a href="/views/pantalones.html">Pantalones</a>
        <a href="/views/pantalonetas.html">pantalonetas</a>
        <a href="#">Producto 5</a>
        <a href="#">Producto 6</a>
        <a href="#">Producto 7</a>
        <a href="#">Producto 8</a>
        <a href="#">Producto 9</a>

    </header>
    <section class="pagina1">
        <section class="menu_izquierda">
            <img src="/storage/pantaloneta01.png">
            <img src="/storage/pantaloneta02.png">
            <img src="/storage/pantaloneta03.png">
            <img src="/storage/camisa02.png">

        </section>
        <section class="menu_derecha">
            <img src="/storage/pantaloneta01.png">
            <div class="informacion">
                <h1>Nombre del producto</h1>
                <img src="/storage/paleta.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.</p>
                <h1>$100.000</h1>
                <button><a href="/views/producto.html">Obtener</a></button>
            </div>
        </section>
    </section>

    <section class="pagina1">
        <section class="menu_izquierda">
            <img src="/storage/pantaloneta01.png">
            <img src="/storage/pantaloneta02.png">
            <img src="/storage/pantaloneta03.png">
            <img src="/storage/camisa02.png">

        </section>
        <section class="menu_derecha">
            <img src="/storage/pantaloneta01.png">
            <div class="informacion">
                <h1>Nombre del producto</h1>
                <img src="/storage/paleta.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.</p>
                <h1>$100.000</h1>
                <button><a href="/views/producto.html">Obtener</a></button>
            </div>
        </section>
    </section>

    <section class="pagina1">
        <section class="menu_izquierda">
            <img src="/storage/pantaloneta01.png">
            <img src="/storage/pantaloneta02.png">
            <img src="/storage/pantaloneta03.png">
            <img src="/storage/camisa02.png">

        </section>
        <section class="menu_derecha">
            <img src="/storage/pantaloneta01.png">
            <div class="informacion">
                <h1>Nombre del producto</h1>
                <img src="/storage/paleta.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.</p>
                <h1>$100.000</h1>
                <button><a href="/views/producto.html">Obtener</a></button>
            </div>
        </section>
    </section>

    <section class="pagina1">
        <section class="menu_izquierda">
            <img src="/storage/pantaloneta01.png">
            <img src="/storage/pantaloneta02.png">
            <img src="/storage/pantaloneta03.png">
            <img src="/storage/camisa02.png">

        </section>
        <section class="menu_derecha">
            <img src="/storage/pantaloneta01.png">
            <div class="informacion">
                <h1>Nombre del producto</h1>
                <img src="/storage/paleta.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.</p>
                <h1>$100.000</h1>
                <button><a href="/views/producto.html">Obtener</a></button>
            </div>
        </section>
    </section>
</body>
</html>