<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/producto_pantaloneta.css">
    
</head>
<body>
    <header class="header">
        <a href="/index.html">Producto 1</a>
        <a href="/views/abrigos.html">Producto 2</a>
        <a href="/views/pantalones.html">Producto 3</a>
        <a href="/views/pantalonetas.html">Producto 4</a>
        <a href="#">Producto 5</a>
        <a href="#">Producto 6</a>
        <a href="#">Producto 7</a>
        <a href="#">Producto 8</a>
        <a href="#">Producto 9</a>

    </header>
    <section class="pagina1">
        <section class="menu_izquierda">
            <img src="/storage/camisa01.png">
            <img src="/storage/buso02.png">
            <img src="/storage/buso01.png">
            <img src="/storage/camisa02.png">

        </section>
        <section class="menu_derecha">
            <img src="/storage/buso01.png">
            <div class="informacion">
                <h1>Nombre del producto</h1>
                <img src="/storage/paleta.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam amet placeat. Saepe eaque numquam minus obcaecati dolores vel aliquid voluptates modi. Voluptatum, autem? Deleniti, consectetur voluptatum? Alias, debitis hic.</p>
                <h1>$100.000</h1>
                <button><a href="/producto.html">Obtener</a></button>
            </div>
        </section>
    </section>




    <section class="resivo">
        <div class="volver">
            <button><a href="/index.html">X</a></button>

        </div>
        <div class="contenido_resivo">
            <div class="camiseta">
                <img  src="/storage/pantaloneta01.png">
            </div>
            
            <h1>Nombre del producto</h1>
            <img class="img2" src="/storage/paleta.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sit, quis corrupti commodi cupiditate deserunt eaque error laboriosam, laudantium minus voluptatem inventore, ab adipisci! Labore atque vitae saepe commodi aliquam!</p>
            <p>$100.000</p>
            <div class="cantidad">
                <div>cantidad</div>
                <button><a href="/views/detalles.html">Agregar</a></button>

            </div>
        </div>
    </section>
</body>
</html>
